---
layout: page
title:
description: "Onda Jazz Band plays Brazilian and latin jazz"
tags: [Onda, Jazz, Brazil]
---
<script type="text/javascript">
	var shows =
	{% include shows.json %}
	|| []
	;
</script>
<h1 class='entry-title'>Shows</h1>
<ul class="post-list" id='shows'>
{% for post in site.categories.shows limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.venue }} <span class='show-date'>{{ post.when }}</span></a></article></li>
{% endfor %}
</ul>
{% if site.categories.blog %}
  <h1 class='entry-title'>Blog</h1>
  <ul class="post-list">
  {% for post in site.categories.blog limit:10 %}
    <li><article><a href="{{ site.url }}{{ post.url }}">
      {{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
      </a></article></li>
  {% endfor %}
  </ul>
{% endif %}
