---
layout: page
title:
description: "Onda Jazz Band plays Brazilian and latin jazz"
tags: [Onda, Jazz, Brazil]
---
<script type="text/javascript">
	var shows = {% include shows.json %} || [];
</script>
<a name='shows'>
<h1 class='entry-title'>Shows</h1>
</a>
<ul class="post-list shows" id='shows'>
{% for post in site.shows limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{% if post.title %}{{ post.title }}{% else %}{{ post.venue }}{% endif %} <span class='show-date'>{{ post.when }}{% if post.time %} | {{ post.time}}{% endif %}</span></a></article></li>
{% endfor %}
</ul>
{% if site.categories.blog %}
  <h1 class='entry-title'>Blog</h1>
  <ul class="post-list">
  {% for post in site.categories.blog limit:10 %}
    <li><article><a href="{{ site.url }}{{ post.url }}">
      {{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
      </a></article></li>
  {% endfor %}
  </ul>
{% endif %}
