.band-photo {
	img {
		width: 768px;
	}
}

.post-list {
	span.show-date {
		float: right;
	}
}

span.pageLinks {
	@include font-rem(14);
	&> a {
		@include rounded(4px);
		padding: 0 0.25rem;
		margin-right: 0.125rem;
		border: 1px solid #ccc;
		&.currentPage {
			background: #ccc;
		}
		&.nav:hover {
			background-color: #ccc;
		}
		&.disabled-nav {
			cursor: default;
		}
	}
}
