.band-photo {
	img {
		width: 768px;
	}
}

.shows {
	span.show-date {
		@include font-rem(16);
		float: right;
	}
	.show-detail p {
		margin-bottom: 0;
	}
	.show-detail {
		margin-top: 0.5rem;

	}
	a:visited {
		color: $link-color;
	}
	.show-details-enter {
		visibility: hidden;
		opacity: 0;
		transition: all 0.2s ease-in 0s;
	}

	.show-details-enter.show-detail-enter-active {
		visibility: visible;
		opacity: 1;
	}

	.show-details-leave {
		visibility: visible;
		opacity: 1;
		transition: all 0.2s ease-in 0s;
	}

	.show-details-leave.show-details-leave-active {
		visibility: hidden;
		opacity: 0;
	}
}

span.pageLinks {
	@include font-rem(14);
	&> a {
		@include rounded(4px);
		padding: 0 0.25rem;
		margin-right: 0.125rem;
		border: 1px solid #ccc;
		&.currentPage {
			background: #ccc;
		}
		&.nav:hover {
			background-color: #ccc;
		}
		&.disabled-nav {
			cursor: default;
		}
	}
}
